.square {
    border: 1px solid blue;
    margin: 5px;
    min-height: 50px;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cross {
    background: center / contain no-repeat url("../../assets/images/red-cross-my.png");
    /*background-size: 100%*/
    /*object-fit: contain;*/
}


.circle {
    background: center / contain no-repeat url("../../assets/images/red-circle-my.png");
}